<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Nu ai permisiunea de accesa această pagină!</h2>
        <p>Întoarce-te în pagina de start!</p>
        <hr />
        <p>
            <a asp-controller="Filme" asp-action="Index" class="btn btn-outline-success">Pagina de Start</a>
        </p>
    </div>
</div>