<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Contul dvs. a fost creat cu succes!</h2>
        <p>Acum vă puteți conecta</p>
        <hr />
        <p>Mulțumim!</p>
    </div>
</div>