<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-danger">Eroare, pagina pe care o căutați nu există!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Filme" asp-action="Index">Pagina de Start</a>
    </div>
</div>