<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Comanda a fost completată cu succes!</h2>
        <p>Vedeți toate comenzile în sectiunea Comenzi din profil dvs.</p>
        <hr />
        <p>Mulțumim!</p>
    </div>
</div>